@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <h1>Simple Web</h1>
    <p class="lead">A place for testing ideas.</p>
</div>

<div class="row">
    <div class="col-md-4 rounded-border-box">
        <a href="@Url.Action("GasProperties", "GasProperties")">
            <img src="..\Images\Conversion.png" alt="Test 1" style="width:80px; height:80px" />
            <h3>Test Calculation 1</h3>
        </a>
        <p>Bla bla bla bla bla bla bla bla bla bla bla bla. This long description should be shortened...</p>
    </div>
    <div class="col-md-4 rounded-border-box">
        <a href="@Url.Action("GasProperties2", "GasProperties")">
            <img src="..\Images\drop.png" alt="Test 2" style="width:80px; height:80px" />
            <h3>Test Calculation 2</h3>
        </a>
        <p>Bla bla bla bla bla bla bla bla bla bla bla bla. This long description should be shortened...</p>
    </div>
</div>